.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 64px 0;
}
.navbar .left{
    font-size: 32px;
    font-weight: bold;
}
.navbar .right{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .right a{
    text-decoration: none;
    color: black;
}
.navbar .right a:hover{
    text-decoration: underline;
}
.navbar .right img{
    width: 24px;
    height: 24px;
}
.bar1 , .bar2 , .bar3{
    background-color: black;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}
.navbar .hamburger{
    display: none;
}
.project-grid{
    display: grid;
    grid-template-areas: 
    "eth eth alphabet"
    "eth eth traveler"
    "astro cube traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
    width: 100%;
    gap: 16px;
    
}
#eth{
    grid-area: eth;
}
#alphabet{
    grid-area: alphabet;
}
#traveler{
    grid-area: traveler;
}
#astro{
    grid-area: astro;
}
#cube{
    grid-area: cube;
}
#cup{
    grid-area: cup;
}
#insta{
    grid-area: insta;
}
#foam{
    grid-area: foam;
}
#dimensional{
    grid-area: dimensional;
}
.project{
    /* width: 600px; */
    position: relative;
}
.project img{
    width: 100%;
    height: 100%;
}
.project .overlay{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: 0;
    transition: all 0.2s ease;

}
.project .overlay:hover{
    opacity: 1;
    cursor: pointer;
}

@media only screen and (max-width:1100px){
    .project-grid{
        max-width: 100%;
        grid-template-areas: 
        "eth eth "
        "alphabet traveler"
        "astro cube "
        "insta insta"
        "cup foam"
        "dimensional dimensional";
    }
}
@media only screen and (max-width:768px){
    .project-grid{
        margin-top: 100px;
    }
    .navbar{
        padding: 16px 24px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        background-color: white;
        width: 100%;
    }
    .navbar .right{
        display: none;
    }
    .navbar .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project-grid{
        max-width: 100%;
        grid-template-areas: 
        "eth eth "
        "alphabet alphabet"
        "traveler traveler"
        "astro cube "
        "insta insta"
        "cup cup"
        "foam foam"
        "dimensional dimensional";
    }
    .project .overlay{
        font-size: 24px;
    }
}


